.right-card {
  height: 25em !important;
  border-radius: 1em !important;
  -webkit-box-shadow: 0 0 1em #9ea7aa;
  box-shadow: 0 0 1em #9ea7aa;
}

.container {
  height: 90vh;
  scroll-snap-align: start;
}

.left-card {
  height: 25em !important;
  border-radius: 1em !important;
  -webkit-box-shadow: 0 0 1em #9ea7aa;
  box-shadow: 0 0 1em #9ea7aa;
}

.company-name {
  font-size: 2em;
  font-family: Monaco, "Lucida Console", monospace;
  font-weight: bolder;
}

.designation {
  font-size: 1em;
}

.duration {
  font-size: 0.7em;
  font-family: Monaco, "Lucida Console", monospace;
}

.bullet-points {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bullets {
  flex-basis: 50%;
}
