.header {
  padding: 0.8em !important;
  box-shadow: 0 0 0.8em black;
  position: fixed;
  width: 100%;
  top: 0;
}

.toggle-menu {
  flex-basis: 100%;
  height: auto;
}
.menu-item {
  flex-basis: 100%;
  height: auto;
  margin: 0.5em;
}
