.header {
  padding: 0.8em !important;
  box-shadow: 0 0 0.8em black;
  margin-bottom: 2.5em;
}

.toggle-menu {
  flex-basis: 100%;
  height: auto;
}
.menu-item {
  flex-basis: 100%;
  height: auto;
  margin: 0.5em;
}
