.text {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 500;
}

.ptr {
  cursor: pointer;
}

.bold {
  font-weight: 800;
}

.hoverEffect:hover {
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
  font-weight: 700;
}

.typing {
  position: relative;
  margin-left: 0.3em;
}

.typing::after {
  content: "";
  position: absolute;
  width: 0.05em;
  height: 0.9em;
  border-right: 0.08em solid black;
  margin-left: 0.08em;
  margin-top: 0.2em;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.underline {
  text-decoration: underline;
  text-anchor: start;
  text-underline-position: under;
  text-decoration-color: #81c784;
}
