.info-card {
  height: 20em !important;
  border-radius: 1em !important;
  -webkit-box-shadow: 0 0 1em #9ea7aa;
  box-shadow: 0 0 1em #9ea7aa;
  background: linear-gradient(270deg, #e8f5e9 20%, #f1f8e9 80%);
}

.container {
  /*height: 90vh;*/
  scroll-snap-align: start;
  margin-top: 10em !important;
}

.image-card {
  height: 20em !important;
  border-radius: 1em !important;
  -webkit-box-shadow: 0 0 1em #9ea7aa;
  box-shadow: 0 0 1em #9ea7aa;
}

.image-background {
  height: 30%;
  width: 100%;
  background-color: #e8f5e9;
  margin-top: 0.7em !important;
  border-radius: .4em;
}
