<section class="container">
  <app-section-title [title]="'Personal Projects'"></app-section-title>
  <article class="row m-1 justify-content-center" *ngFor="let project of projects; let i=index">
    <div class="col-lg-4 d-flex align-items-center h-25 bg-white flex-column m-2 justify-content-center project-compact-card">
      <app-text [text]=project.projectName [link]="project.link" class="project-name"></app-text>
      <app-text [text]="project.startDate.toDateString() + ' - ' + project.endDate?.toDateString()"
                [hoverEffect]="true" class="duration" *ngIf="project.endDate"></app-text>
      <app-text [text]="project.startDate.toDateString() + ' - Present'"
                [hoverEffect]="true" class="duration" *ngIf="!project.endDate"></app-text>
    </div>
    <div
      class="col-lg-7 d-flex h-25 bg-white flex-column justify-content-center m-2 ps-5 project-description-card d-none d-lg-flex">
      <app-text [text]="'Description'" class="my-1"></app-text>
      <app-text [text]="project.description" class="project-description"></app-text>
      <app-text [text]="'Technologies Used'" class="my-1"></app-text>
      <ul class="bullet-points m-1">
        <li *ngFor="let point of project.technologiesUsed" class="font-monospace bullets">{{point}}</li>
      </ul>
      <app-text [text]="'Future Scope'" class="my-1"></app-text>
      <ul class="bullet-points m-1">
        <li *ngFor="let point of project.futureScope" class="font-monospace bullets">{{point}}</li>
      </ul>
    </div>
  </article>
</section>
