.info-card {
  height: 25em !important;
  border-radius: 1em !important;
  box-shadow: 10px 5px 5px #eceff1;
}

.image-card {
  height: 25em !important;
  border-radius: 1em !important;
  box-shadow: 10px 5px 5px #eceff1;
}
