.info-card {
  height: 25em !important;
  border-radius: 1em !important;
  -webkit-box-shadow: 0 0 1em #9ea7aa;
  box-shadow: 0 0 1em #9ea7aa;
}

.image-card {
  height: 25em !important;
  border-radius: 1em !important;
  -webkit-box-shadow: 0 0 1em #9ea7aa;
  box-shadow: 0 0 1em #9ea7aa;
}
