<div class="container mt-auto">
  <div class="row mt-5 m-1">
    <div class="col-lg-4 d-flex align-items-center h-25 bg-white flex-column m-2 image-card">
      <div class="image-background"></div>
      <app-image-box [configImgSrc]=configImgSrc [imgSrc]=imgSrc [hoverEffect]=true class="mt-3"></app-image-box>
      <app-text [text]=name class="mt-2" [hoverEffect]=true></app-text>
      <app-text [text]=title [hoverEffect]=true></app-text>
    </div>
    <div class="col-lg-7 d-flex align-items-center h-25 bg-white flex-column justify-content-center m-2 info-card">
      <app-text [text]=about class="m-2"></app-text>
    </div>
  </div>
</div>
