<section class="container mt-5 mt-lg-0">
  <app-section-title [title]="'Work Experience'"></app-section-title>
  <article class="row m-1 justify-content-center" *ngFor="let experience of workExperiences; let i">
    <div class="col-lg-4 d-flex align-items-center h-25 bg-white flex-column m-2 justify-content-center left-card">
      <app-text [text]=experience.organization class="company-name"></app-text>
      <app-text [text]="experience.title" [hoverEffect]="true" class="font-monospace designation"></app-text>
      <app-text [text]="experience.startDate.toDateString() + ' - ' + experience.endDate?.toDateString()"
                [hoverEffect]="true" class="duration" *ngIf="experience.endDate"></app-text>
      <app-text [text]="experience.startDate.toDateString() + ' - Present'"
                [hoverEffect]="true" class="duration" *ngIf="!experience.endDate"></app-text>
    </div>
    <div class="col-lg-7 d-flex h-25 bg-white flex-column justify-content-center m-2 ps-5 right-card d-none d-lg-flex">
      <app-text [text]="'Achievements/Tasks'"></app-text>
      <ul class="m-1">
        <li *ngFor="let point of experience.description" class="font-monospace">{{point}}</li>
      </ul>
      <app-text [text]="'Technologies worked on'"></app-text>
      <ul class="bullet-points m-1">
        <li *ngFor="let point of experience.techStack" class="font-monospace bullets">{{point}}</li>
      </ul>
    </div>
  </article>
</section>
